<mat-card class="card" [@fadeInUpAnimation]>
    <mat-card-header class="flex justify-between">
           <div class="flex-1 flex gap-3 items-center">
                <ngx-avatar [src]="'../../../../assets/images/avatars/'+randomPhoto" size="60"></ngx-avatar>
            <div>
        <mat-card-title>{{publication.topic}}</mat-card-title>
        <mat-card-subtitle>{{publication.description}}</mat-card-subtitle>
            </div>
           </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="publication.userId === userId" mat-menu-item (click)="edit(publication)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button  mat-menu-item *ngIf="publication.userId === userId" (click)="delete(publication.id)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
            <button  mat-menu-item *ngIf="publication.userId != userId" (click)="delete(publication.id)">
                <mat-icon>signal_cellular_alt</mat-icon>
                <span>Signal</span>
            </button>
        </mat-menu>
    </mat-card-header>
    <mat-card-actions align="end">
        <p>{{numberOfLikes}}</p>
        <button mat-icon-button (click)="likeAnOperation(publication.id)">
            <mat-icon [color]="publication.liked? 'primary' : null">thumb_up</mat-icon>
        </button>
        <p>{{numberOfDislikes}}</p>
        <button mat-icon-button (click)="dislikeAnOperation(publication.id)">
            <mat-icon [color]="publication.disliked ? 'primary' : null">thumb_down</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu2">
            <mat-icon>share</mat-icon>
        </button>
        <mat-menu #menu2="matMenu" class="justify-center items-center">
            <button mat-icon-button (click)="shareFacebook()"><mat-icon>facebook</mat-icon></button>
            <button mat-icon-button (click)="shareTwitter()"><mat-icon>instagram</mat-icon></button>
            <button mat-icon-button (click)="shareLinkedIn()"><mat-icon>send</mat-icon></button>
        </mat-menu>
    </mat-card-actions>
    <mat-card-content>
        <h3>Comments ({{publication.comments?.length}})</h3>
        <mat-list>
            <mat-list-item class="h-auto" *ngFor="let com of publication.comments">
                <div class="flex-1 flex gap-3">
                <ngx-avatar [src]="'../../../../assets/images/avatars/user.png'" size="35"></ngx-avatar>
                <div >
                    <p style="color: #1a78c3; font-size: 15px; font-weight: bold" >{{com.userName}}</p>
                    <p >{{com.content}}</p>
                    <p class="timestamp" >{{formatDate(com.creationDate)}}</p>
                </div>
                </div>
            </mat-list-item>
        </mat-list>
        <mat-form-field  style="width: 100%">
            <textarea matInput placeholder="Add a comment" [(ngModel)]="commentValue" (keydown.enter)="comment(publication.id)"></textarea>
            <button mat-icon-button (click)="comment(publication.id)">
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
</mat-card>
