<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto">
        <div class="relative flex overflow-x-hidden border h-[100%]">
                <fuse-drawer
                    [name]="'leftDrawer'"
                    [opened]="drawerOpened"
                    [mode]="drawerMode"
                    (openedChanged)="drawerOpenedChanged($event)">
                    <div class="w-full">
                        <mat-icon
                            class="icon-size-5 absolute right-2 top-2 cursor-pointer z-10"
                            (click)="toggleDrawerOpen();"
                            [svgIcon]="'heroicons_solid:x-circle'">
                        </mat-icon>
                        <tree-display *ngIf="treeData.length > 0" title="Zones" [data]="treeData" class="absolute top-0 w-full"></tree-display >      
                    </div>
                </fuse-drawer>         
        </div>
        <mat-icon
            class="icon-size-8 absolute bottom-2 left-0 cursor-pointer"
            (click)="toggleDrawerOpen();"
            [svgIcon]="'heroicons_solid:chevron-right'">
        </mat-icon>
</div>
